

.form-border {
    border: 2px solid black;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .errors {
    color: red;
  }

  .add-expense-btn {
    cursor: pointer;
    margin-top: 1vh;
  }

  .input-title {
    cursor: pointer;
  }

  .expense-description {
    cursor: pointer;
    margin-top: 1vh;
  }

  .enter-amount {
    cursor: pointer;
    margin-top: 1vh;
  }

  .input-date {
    cursor: pointer;
    margin-top: 1vh;
  }

  .category {
    cursor: pointer;
    margin-top: 1vh;
  }