

body {
  background-color:rgb(221, 221, 100);
}

.App-container {
  background-color:bisque;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: oblique;
  font-size: 1.2em;
  margin-top: 10vh;
}

.expense-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: red;
  border: 1px solid black;
}